// Colors
$red: #F34336;
$pink: #E91E63;
$blue: #03A9F4;
$light-blue: #29B6F6;
$green: #4CAE50;
$purple: #9E59E5;
$black: #373737;
$light-grey-border: #eee;
$white: #FCFBFF;

// Navbar
$title-color: $white;
$title-size: 22px;
$navbar-height: 40px;
$navbar-main-color: $pink;
$navbar-underbar-color: #C2185B;


// Body background
$body-background: #F2F2F0;
