@import "../variables";

.top-bar {

  background-color: $black;
  display: flex;
  justify-content: space-between;

  .website-title {
    color: $title-color;
    align-items: center;
    margin: round(($navbar-height - $title-size + 4)/2);
    font-size: $title-size;

  }

  .top-bar-right {
    margin: round(($navbar-height - $title-size + 4)/2);
  }

  a {
    text-decoration: none;
  }

}

.button {
  width: 130px;
  height: 30px;
  border-radius: 22px;
  background: #FCFBFF;
}

.skinny-bar {
  height: 4px;
  background-color: $pink;
}
