@import "../variables";

// Navigation bar
.top-bar {
  background-color: $navbar-main-color;
  display: flex;
  justify-content: space-between;

  .website-title {
    color: $title-color;
    margin: round(($navbar-height - $title-size + 4)/2);
    font-size: $title-size;
  }

  .top-bar-right {
    margin: round(($navbar-height - $title-size + 4)/2);
  }

  // Website title is a link which are usually underlined
  a {
    text-decoration: none;
  }
}

// Navigation under-bar
.skinny-bar {
  height: 8px;
  background-color: $navbar-underbar-color;
  margin-bottom: 5px;
}

// Make selection button
.button {
  width: 120px;
  height: 30px;
  border-radius: 2px;
  border: 3px solid $white;
  color: $white;
  outline: none;
}

.button:hover {
  cursor: pointer;
  border-color: $purple;
  transition: all .3s;
}

.hollow {
  background-color: transparent;
}

@media (min-width: 800px) {
  #analysis-button {
    display: none;
  }
}

@media (max-width: 550px) {
  .button {
    font-size: 9px;
  }
}
