#main-screen-content {
  display:flex;
  //flex-wrap:wrap-reverse;
  height: 91vh;
}

@media (max-width: 800px) {
  #main-screen-content {
    flex-direction: column-reverse;
  }
}

#main-screen-content > * {
  font-size: 20px;
  border-radius:2px;
  margin:5px;
}

#company-list {
  order:1;
  flex:2 1 250px;
  overflow-y: scroll;
  background: #FCFBFF;
  margin: 12px 12px 12px 12px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.right-content {
  order:2;
  flex:1 0 auto;
}

#metric-list {
  order:1;
  flex:1 0 auto;
}
#selected-companies-list {
  order:3;
  flex:1 1 200px;
}

#metric-graph {
  order:3;
  flex:1 1 200px;
}

#analysis-button {
  order:4;
  flex:1 1 200px;
}
